__pycache__/
storage/
output
static/
.vscode/
*.pyc
/node_modules
time_test_data/
.DS_Store
datasets/
.deepeval*
benchmark_tests/*.csv
config/loaders.yaml
.pytest_cache/
time_test_data/
.coverage
config/loaders.yaml
.pytest_cache/
idea/
.env
tests/benchmark_tests/results/