
openai
python-dotenv
asyncpg
aiohttp
fastapi>=0.100.0
pydantic>=2.0.0,<3.0.0
llama-index
langchain>=0.0.354
uvicorn>=0.22.0
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
transformers
torch
sentence-transformers
llama-index-llms-replicate
psycopg2-binary
numpy
python-multipart
accelerate
PyPDF2==3.0.1
httpx